html {
  font-size: 18px;
  font-family: Helvetica;
}

.black {
  background-color: black;
  color: white;
}

.header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header .container {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  align-items: center;
  justify-content: flex-start;
  width: 960px;
}

.header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.header h3 {
  padding-top: .66rem;
  padding-bottom: .66rem;
}

.banner {
  display: flex;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner .container {
  display: flex;
  justify-content: flex-start;
  width: 960px;
}

#new {
  display: flex;
  background-color: black;
  flex-direction: column;
  padding-left: 3rem;
  width: 20rem;
  margin-top: 9rem;
  margin-bottom: 6rem;
}

#new p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .25rem;
  text-transform: uppercase;
}

#new h2 {
  color: white;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation {
  background-color: firebrick;
  color: white;
  display: flex;
  justify-content: center;
}

.navigation .container {
  width: 960px;
}

.navigation .container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.product {
  display: flex;
  justify-content: center;
}

.product .container {
  width: 960px;
  display: flex;
  flex-direction: row;
  margin: 3rem 0;
  justify-content: space-between;
}

.product .buy {
  display: flex;
  width: 30%;
  border: 4px solid black;
  flex-direction: column;
}

.product .buy img {
  height: 9rem;
  width: auto;
  padding: 2rem;
}

.product .buy p {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.information {
  display: flex;
  justify-content: center;
}

.information .container {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information .item {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 4rem;
}

#black {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 5rem;
}

.footer .container {
  width: 960px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer p {
  color: white;
}

@media screen and (min-width: 1025px) {
  .tablet {
    display: none;
  }
}

@media screen and (max-width: 1024px) and (min-width: 471px){
  html {
    font-size: 20px;
  }

  .header .container {
    width: 750px;
  }

  .header h3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .header img {
    height: 2.5rem;
    margin-left: .5rem;
    margin-right: 2rem;
  }

  .banner .container {
    display: flex;
    justify-content: flex-start;
    width: 750px;
  }
  #new p {
    font-weight: normal;
  }

  #new h2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: normal;
    line-height: 2.5rem;
    font-size: 1.75rem;
  }

  #pen, #watch {
    width: 42%;
  }

  .product .container {
    width: 750px;
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    justify-content: space-between;
  }

  #glasses {
    display: none;
  }

  .desktop {
    display: none;
  }

  .navigation .container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  .information .container {
    width: 750px;
  }

  .information .item {
    display: flex;
    flex-direction: column;
    width: 47%;
  }

  .information .item p {
    margin-bottom: 1.5rem;
  }

  .footer .container {
    width: 750px;
  }
}

@media screen and (max-width: 470px) {

  #glasses, #watch {
    display: none;
  }

  .desktop {
    display: none;
  }

  .navigation .container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
  
}
